article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

/* Color schemes */
.demo-1 {
	--color-text: #000;
    --color-bg: #f1f1f1;
    --color-link: #000;
    --color-link-hover: #0e54c1;
    --color-stitle: #000;
    --fontsize-stitle: 12vw;
    --color-sdesc: #000;
    --color-slink: #000;
    --color-slink-hover: #000;
    --color-slink-bg: #fff;
    --color-slink-hover-bg: #0e54c1;
    --color-nav: #000;
    --color-nav-hover: #0E54CA;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: #000;
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

a:hover,
a:focus {
	color: #0e54c1;
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--arrow-rot {
	transform: rotate(180deg);
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header github'
	'... ...'
	'... demos';
}

.content--fixed a {
	pointer-events: auto;
}

.demos {
	position: relative;
	display: block;
	align-self: end;
	text-align: center;
	grid-area: demos;
}

.demo {
	margin: 0 0.15em;
}

.demo:hover,
.demo:focus {
	opacity: 0.5;
}

.demo span {
	white-space: nowrap;
	text-transform: lowercase;
	pointer-events: none;
}

.demo span::before {
	content: '#';
}

a.demo--current {
	pointer-events: none;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.slideshow {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.slides {
	position: absolute;
	width: 100%;
	height: 100%;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
}

.slide__img {
	position: absolute;
	opacity: 0.7;
	top: -200px;
	left: -200px;
	width: calc(100% + 400px);
	height: calc(100% + 400px);
	background-size: cover;
	background-position: 50% 50%;
}

.slidenav {
	position: absolute;
	width: 300px;
	margin-left: -150px;
	left: 50%;
	bottom: 0;
	text-align: center;
	padding: 2em;
}

.slidenav__item {
	border: 0;
	background: none;
	font-weight: bold;
	color: var(--main-color);
	text-shadow:
     1px  1px     #fff,
    -1px  1px     #fff,
     1px -1px     #fff,
    -1px -1px     #fff,
     1px  1px 5px #ffb600;
}

.slidenav__item:focus {
	outline: none;
}

.slidenav__item:hover {
	color: var(--main-color);
}

.shape {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--color-shape-fill);
	top: 0;
	pointer-events: none;
}

.slide__title {
	position: relative;
	text-align: center;
	font-size: 1.5em;
	margin: 0 0 2em 0;
	padding: 0 5em;
	cursor: default;
	line-height: 1;
	color: #fff;
	text-shadow:
     1px  1px 3px #ffb600,
    -1px  1px 3px #ffb600,
     1px -1px 3px #ffb600,
    -1px -1px 3px #ffb600,
     1px  1px 3px #ffb600;
}

.slide__desc {
	position: relative;
	font-size: 1em;
	margin: 0 0 2em 0;
	cursor: default;
	color: #000;
	padding: 0 5em;
	text-align: center;
}

.slide__link {
	position: relative;
	font-size: 1em;
	font-weight: bold;
	padding: 1em 2em;
	display: block;
	color: #000;
	transition: color 0.3s, background 0.3s;
}

@media screen and (min-width: 55em) {
	.slidenav__item:hover {
		color: var(--hover-color);
	}

	.demos {
		display: flex;
		justify-self: end;
	}
	.demo {
		display: block;
		width: 17px;
		height: 17px;
		margin: 0 4px;
		border-radius: 50%;
		background: #000;
	}
	a.demo--current {
		background: #0e54c1;
	}
	.demo span {
		line-height: 1;
		position: absolute;
		right: 100%;
		display: none;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}

@media screen and (max-width: 55em) {
	body {
		padding: 0 0 4em 0;
	}

	.slide__title {
		font-size: 1em !important;
	}
	.slide__desc {
		margin: 0 0 1em 0 !important;
		padding: 0 4em !important;
		text-align: justify !important;
	}

	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	.github {
		display: none;
	}
	.codrops-links {
		margin: 0;
	}
	.slide__desc {
		font-size: 1em;
	}
	.slide__link {
		font-size: 0.85em;
	}
}
